openapi: 3.1.0
info:
  contact:
    email: support@lithic.com
  description: 'The Lithic Developer API is designed to provide a predictable programmatic interface for accessing your Lithic account through an API and transaction webhooks.

    Note that your API key is a secret and should be treated as such. Don''t share it with anyone, including us. We will never ask you for it.

    '
  termsOfService: https://lithic.com/legal/terms
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.txt
  title: Lithic Developer 3DS Credit Product API
  version: 1.0.0
servers:
- description: Sandbox environment that provides key functionality mirroring production
  url: https://sandbox.lithic.com
security:
- ApiKeyAuth: []
tags:
- name: Credit Product
paths:
  /v1/credit_products/{credit_product_token}/extended_credit:
    get:
      description: Get the extended credit for a given credit product under a program
      operationId: getExtendedCredit
      parameters:
      - description: Credit Product Token
        in: path
        name: credit_product_token
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/extended_credit'
          description: OK
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      summary: Get extended credit
      tags:
      - Credit Product
  /v1/credit_products/{credit_product_token}/prime_rates:
    get:
      operationId: getPrimeRates
      parameters:
      - description: Globally unique identifier for credit products.
        in: path
        name: credit_product_token
        required: true
        schema:
          description: Globally unique identifier for credit products.
          title: Credit Product Token
          type: string
      - in: query
        name: starting_after
        required: false
        schema:
          type: string
          format: date
        description: The effective date that the prime rate starts after
      - in: query
        name: ending_before
        required: false
        schema:
          type: string
          format: date
        description: The effective date that the prime rates ends before
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/prime_rates_response'
          description: Successful Response
      summary: Get Credit Product Prime Rates
      tags:
      - Credit Product
    post:
      operationId: createPrimeRates
      parameters:
      - description: Globally unique identifier for credit products.
        in: path
        name: credit_product_token
        required: true
        schema:
          description: Globally unique identifier for credit products.
          title: Credit Product Token
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/interest_rate'
        required: true
      responses:
        '202':
          description: Successful Response
      summary: Post Credit Product Prime Rate
      tags:
      - Credit Product
components:
  schemas:
    error:
      type: object
      properties:
        debugging_request_id:
          type: string
          format: uuid
          description: Identifier to help debug an error.
        message:
          type: string
          description: Explanation of error response.
      required:
      - debugging_request_id
      - message
    interest_rate:
      title: Interest Rate
      type: object
      properties:
        effective_date:
          type: string
          format: date
          description: Date the rate goes into effect
        rate:
          type: string
          description: The rate in decimal format
      required:
      - effective_date
      - rate
    prime_rates_response:
      title: Prime Rates Response
      type: object
      properties:
        data:
          description: List of prime rates
          type: array
          items:
            $ref: '#/components/schemas/interest_rate'
        has_more:
          description: Whether there are more prime rates
          type: boolean
      required:
      - data
      - has_more
    extended_credit:
      title: Extended Credit
      type: object
      properties:
        credit_extended:
          type: integer
      required:
      - credit_extended
  responses:
    TooManyRequests:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error'
      description: 'Client has exceeded the number of allowed requests in a given time period.


        |   |   |

        |---|---|

        | Rate limited, too many requests per second | User has exceeded their per second rate limit |

        | Rate limited, reached daily limit | User has exceeded their daily rate limit |

        | Rate limited, too many keys tried | One IP has queried too many different API keys |

        '
    Unauthorized:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error'
      description: '|   |   |

        |---|---|

        | User has not been authenticated | Invalid or missing API key |

        | API key is not active | The API key used is no longer active |

        | Could not find API key | The API key provided is not associated with any user |

        | Please provide API key in Authorization header | The Authorization header is not in the request |

        | Please provide API key in the form Authorization: [api-key] | The Authorization header is not formatted properly |

        | Insufficient privileges. Issuing API key required | Write access requires an Issuing API key. Reach out at [lithic.com/contact](https://lithic.com/contact) |

        | Insufficient privileges to create virtual cards. | Creating virtual cards requires an additional privilege | Reach out at [lithic.com/contact](https://lithic.com/contact) |

        '
    NotFound:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error'
      description: The specified resource was not found.
    UnprocessableEntity:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error'
      description: Unprocessable entity.
  securitySchemes:
    ApiKeyAuth:
      in: header
      name: Authorization
      type: apiKey
