openapi: 3.1.0
info:
  contact:
    email: support@lithic.com
  description: 'The Lithic Developer API is designed to provide a predictable programmatic interface for accessing your Lithic account through an API and transaction webhooks.

    Note that your API key is a secret and should be treated as such. Don''t share it with anyone, including us. We will never ask you for it.

    '
  termsOfService: https://lithic.com/legal/terms
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.txt
  title: Lithic Developer 3DS Network Program API
  version: 1.0.0
servers:
- description: Sandbox environment that provides key functionality mirroring production
  url: https://sandbox.lithic.com
security:
- ApiKeyAuth: []
tags:
- name: Network Program
paths:
  /v1/network_programs:
    get:
      description: List network programs.
      operationId: getNetworkPrograms
      parameters:
      - description: Page size (for pagination).
        in: query
        name: page_size
        schema:
          default: 50
          maximum: 100
          minimum: 1
          type: integer
      - description: Date string in RFC 3339 format. Only entries created after the specified time will be included. UTC time zone.
        in: query
        name: begin
        schema:
          format: date-time
          type: string
      - description: Date string in RFC 3339 format. Only entries created before the specified time will be included. UTC time zone.
        in: query
        name: end
        schema:
          format: date-time
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  data:
                    items:
                      $ref: '#/components/schemas/NetworkProgram'
                    type: array
                  has_more:
                    description: Whether there are more network programs to be retrieved.
                    type: boolean
                required:
                - data
                - has_more
                type: object
          description: OK
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      summary: List network programs
      tags:
      - Network Program
  /v1/network_programs/{network_program_token}:
    get:
      description: Get network program.
      operationId: getNetworkProgram
      parameters:
      - description: Globally unique identifier for the network program.
        in: path
        name: network_program_token
        required: true
        schema:
          format: uuid
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NetworkProgram'
              examples:
                getNetworkProgramResponse:
                  value:
                    token: 94644cff-d693-4881-b472-3a51e742ea47
                    registered_program_identification_number: '00000000'
                    name: Visa Signature Preferred Credit Card
                    default_product_code: D
          description: OK
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      summary: Get network program
      tags:
      - Network Program
components:
  schemas:
    NetworkProgram:
      properties:
        token:
          description: Lithic-generated unique identifier for the program
          format: uuid
          type: string
        registered_program_identification_number:
          description: RPIN value assigned by the network.
          type: string
        name:
          description: The name of the network program.
          type: string
        default_product_code:
          description: Network product ID associated with this program.
          type: string
      required:
      - token
      - registered_program_identification_number
      - name
      - default_product_code
      type: object
    error:
      type: object
      properties:
        debugging_request_id:
          type: string
          format: uuid
          description: Identifier to help debug an error.
        message:
          type: string
          description: Explanation of error response.
      required:
      - debugging_request_id
      - message
  responses:
    Unauthorized:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error'
      description: '|   |   |

        |---|---|

        | User has not been authenticated | Invalid or missing API key |

        | API key is not active | The API key used is no longer active |

        | Could not find API key | The API key provided is not associated with any user |

        | Please provide API key in Authorization header | The Authorization header is not in the request |

        | Please provide API key in the form Authorization: [api-key] | The Authorization header is not formatted properly |

        | Insufficient privileges. Issuing API key required | Write access requires an Issuing API key. Reach out at [lithic.com/contact](https://lithic.com/contact) |

        | Insufficient privileges to create virtual cards. | Creating virtual cards requires an additional privilege | Reach out at [lithic.com/contact](https://lithic.com/contact) |

        '
    BadRequest:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error'
      description: A parameter in the query given in the request does not match the valid queries for the endpoint.
    NotFound:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error'
      description: The specified resource was not found.
    TooManyRequests:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error'
      description: 'Client has exceeded the number of allowed requests in a given time period.


        |   |   |

        |---|---|

        | Rate limited, too many requests per second | User has exceeded their per second rate limit |

        | Rate limited, reached daily limit | User has exceeded their daily rate limit |

        | Rate limited, too many keys tried | One IP has queried too many different API keys |

        '
  securitySchemes:
    ApiKeyAuth:
      in: header
      name: Authorization
      type: apiKey
